//- page that shows analytics about uploaded jobs
extends ../layout
block body
  include ../navbar
  .container
    br
    .col-md-3.panel.panel-default
      include sidebar

    .col-md-9
      if jobs
        //- h3.skinny.brand-color Jobs you created
        .list-group
          for job in jobs
            .list-group-item
              .container-fluid
                  h4=job.name
                    small.text-muted.scootRight tasks: 
                      b=(job.taskCount||0) 
                    small.text-muted.scootRight template:
                      b= (job.type||"")
              .container-fluid.well-sm
                a.button(href="/job/analyze?job=#{job.id}").scootRight 
                  b Analyze
                a.button(href="/job/work?job=#{job.id}").scootRight Do tasks
                //- a.button(href="/job/work?job=#{job.id}").scootRight Edit
                br
                //- p=job.desc  
                //- a(href="/job/analyze?job=#{job.id}").button.button-flat.button-pill Analyze

          else 
            .panel-body
              h3.skinny.brand-color You haven't created any jobs yet. 
                a(href="/job/new").button.button-flat.button-pill Go make one!

        //- if jobs
        //-   .panel-body
        //-     h3.skinny.brand-color Jobs you created
        //-     hr
        //-     for job in jobs
        //-       .pane.pane-default
        //-         .pane-head.clickable
        //-           h4
        //-             b=job.name
        //-             small.small.text-muted= (job.taskCount||0) + " tasks"
        //-             a.fa.fa-fw.fa-caret-right
                
        //-         .pane-body.panel-body
                
        //-           //- p=job.desc
        //-           a(href="/job/analyze?job=#{job.id}").button.button-flat.button-pill Analyze

        //-     else 
        //-       .panel-body
        //-         h3.skinny.brand-color You haven't created any jobs yet. 
        //-           a(href="/job/new").button.button-flat.button-pill Go make one!



  script.
    $(document).on('click', '.pane-head span.clickable', function (e) {
        var $this = $(this);
        if (!$this.hasClass('panel-collapsed')){
            $this.parents('.pane').find('.pane-body').slideUp();
            $this.addClass('panel-collapsed');
            $this.find('i').removeClass('glyphicon-minus').addClass('glyphicon-plus');
        } else {
            $this.parents('.pane').find('.pane-body').slideDown();
            $this.removeClass('panel-collapsed');
            $this.find('i').removeClass('glyphicon-plus').addClass('glyphicon-minus');
        }
    });
    $(document).on('click', '.pane div.clickable', function (e) {
        var $this = $(this);
        if (!$this.hasClass('panel-collapsed')) {
            $this.parents('.pane').find('.pane-body').slideUp();
            $this.addClass('panel-collapsed');
            $this.find('i').removeClass('glyphicon-minus').addClass('glyphicon-plus');
        } else {
            $this.parents('.pane').find('.pane-body').slideDown();
            $this.removeClass('panel-collapsed');
            $this.find('i').removeClass('glyphicon-plus').addClass('glyphicon-minus');
        }
    });
    $(document).ready(function () {
        $('.pane-head span.clickable').click();
        $('.pane div.clickable').click();
    });

