//- page that shows analytics about uploaded jobs
extends ../layout
block body
  include ../navbar
  .container
        br
        .col-md-3.panel.panel-default
          include sidebar

        .col-md-9
          .panel.panel-default
            if jobs
              .panel-body
                h3.skinny.brand-color Jobs you created
              for job in jobs
                .pane.pane-default
                  .pane-head.clickable.well-sm
                    o
                      .fa.fa-fw.fa-caret-right
                      o=job.name
                      .pull-right
                        small.small.text-muted= (job.taskCount||0) + " tasks"
                              


                  .pane-body.panel-body.well-lg
                    p=job.desc

            else 
              .panel-body
                h3.skinny.brand-color You do not own any jobs.
                  a(href="/job/new").button.button-flat.button-pill Create a new job


        .col-md-4



              //- .pane
              //-   .well-sm
              //-     .row
              //-       .col-md-9
              //-         h4
              //-           a(href="/job/work?job=#{job.id}").btn-link=job.name
              //-       .col-md-3.pull-right
              //-         b=job.taskCount+" tasks"
              //-     .row
              //-       .col-md-9
              //-         p=job.desc
              //-       //- this is just for mads ocd purposes to make sure all templates are made
              //-       .col-md-3
              //-         p=job.type


  script.
    $(document).on('click', '.pane-head span.clickable', function (e) {
        var $this = $(this);
        if (!$this.hasClass('panel-collapsed')) {
            $this.parents('.pane').find('.pane-body').slideUp();
            $this.addClass('panel-collapsed');
            $this.find('i').removeClass('glyphicon-minus').addClass('glyphicon-plus');
        } else {
            $this.parents('.pane').find('.pane-body').slideDown();
            $this.removeClass('panel-collapsed');
            $this.find('i').removeClass('glyphicon-plus').addClass('glyphicon-minus');
        }
    });
    $(document).on('click', '.pane div.clickable', function (e) {
        var $this = $(this);
        if (!$this.hasClass('panel-collapsed')) {
            $this.parents('.pane').find('.pane-body').slideUp();
            $this.addClass('panel-collapsed');
            $this.find('i').removeClass('glyphicon-minus').addClass('glyphicon-plus');
        } else {
            $this.parents('.pane').find('.pane-body').slideDown();
            $this.removeClass('panel-collapsed');
            $this.find('i').removeClass('glyphicon-plus').addClass('glyphicon-minus');
        }
    });
    $(document).ready(function () {
        $('.pane-head span.clickable').click();
        $('.pane div.clickable').click();
    });

