//- page that shows analytics about uploaded jobs
extends ../layout
block body
  include ../navbar
  .container
        br
        .col-md-3.panel.panel-default
          include sidebar
    


        .col-md-9
          if jobs
            h3.skinny.brand-color Jobs you created.
            hr
            for job in jobs
              .panel.panel-default
                .panel-heading.clickable
                  h4
                    .fa.fa-fw.fa-chevron-down
                    b=job.name
                      .pull-right
                          .small= (job.taskCount||0) + " tasks"
                            


                .panel-body
                  p=job.desc



              //- .panel
              //-   .well-sm
              //-     .row
              //-       .col-md-9
              //-         h4
              //-           a(href="/job/work?job=#{job.id}").btn-link=job.name
              //-       .col-md-3.pull-right
              //-         b=job.taskCount+" tasks"
              //-     .row
              //-       .col-md-9
              //-         p=job.desc
              //-       //- this is just for mads ocd purposes to make sure all templates are made
              //-       .col-md-3
              //-         p=job.type


  script.
    $(document).on('click', '.panel-heading span.clickable', function (e) {
        var $this = $(this);
        if (!$this.hasClass('panel-collapsed')) {
            $this.parents('.panel').find('.panel-body').slideUp();
            $this.addClass('panel-collapsed');
            $this.find('i').removeClass('glyphicon-minus').addClass('glyphicon-plus');
        } else {
            $this.parents('.panel').find('.panel-body').slideDown();
            $this.removeClass('panel-collapsed');
            $this.find('i').removeClass('glyphicon-plus').addClass('glyphicon-minus');
        }
    });
    $(document).on('click', '.panel div.clickable', function (e) {
        var $this = $(this);
        if (!$this.hasClass('panel-collapsed')) {
            $this.parents('.panel').find('.panel-body').slideUp();
            $this.addClass('panel-collapsed');
            $this.find('i').removeClass('glyphicon-minus').addClass('glyphicon-plus');
        } else {
            $this.parents('.panel').find('.panel-body').slideDown();
            $this.removeClass('panel-collapsed');
            $this.find('i').removeClass('glyphicon-plus').addClass('glyphicon-minus');
        }
    });
    $(document).ready(function () {
        $('.panel-heading span.clickable').click();
        $('.panel div.clickable').click();
    });

