extends ../layout
block body
  include navbar
  .container-fluid(style="background-color:#f7f7f8;")
    .container
      .row.well-sm
      
        .col-md-3
          br
          .nav-sidebar.panel
            ul.nav.nav-stacked.actions


        .col-md-9
          br
          ul.nav.nav-justified.text-center
            li.navbar-text
              br
              small Balance   
              b.text-primary.lead=user.btc
            li.navbar-text
              br
              small Jobs  
              o.text-primary.lead=jobs.length
            li.navbar-text
              br
              small Level 
              o.text-primary.lead=user.expert_level||"0"
          hr

          if jobs
            for job in jobs
              .panel
                .well-sm
                  h4
                    a(href="/job/work?job=#{job.id}").btn-link=job.name
                  p=job.desc

