extends ../layout
block body
  include ../navbar
  script(src="/js/HighCharts.js")

  .container
    
    .col-md-3.panel
      div(style="height:100pc!important;")
        include sidebar

    .col-md-9.panel
      .row
        ul.nav.nav-justified.btn-block
          li
            a Balance   
              b.fa-fw.lead=user.btc
          li
            a Jobs  
              b.fa-fw.lead=jobs.length
          li
            a Level 
              b.fa-fw.lead=user.expert_level||"0"
      div(style="height:100pc!important;")
          .row#activityChart
          if(actions)
            script.
              console.log(!{ JSON.stringify(actions) })
              $("#activityChart").highcharts({
                chart:{animation:false,type:"column",height:202,backgroundColor:"rgba(25,25,49,0.03)"},
                title:{style:{y:'20px',"fontSize": "10px"},text:("")},
                legend:{enabled:false},credits: {enabled: false },
                xAxis: [{ 
                  gridLineWidth: '0px',
                   type: 'date',
                   //- minRange: 7,
                  labels: {
                    enabled:false,
                    style: {
                      fontSize: '10px',
                  }}
                  },{ 
                    gridLineWidth: '1px',
                     type: 'category',
                     //- minRange: 7,
                    labels: {
                      enabled:false,
                      style: {
                        fontSize: '10px',
                    }}
                }],
                yAxis: [{
                  title:{text:""},
                  gridLineWidth: '0px',
                  labels: {
                      enabled:false
                  }
                },
                {
                  title:{text:""},
                  gridLineWidth: '0px',
                  labels: {
                      enabled:false
                  }
                }

                ],
                plotOptions: { series: { 
                  //- borderColor:"none",
                  //- groupPadding: 0,
                  marker:{enabled:false},
                  shadow:{ color:"#ffffff", offsetX:1, offsetY:1, opacity:0.7, width:1},
                  stacking: null
                }},
                series: [{
                  type:"column",
                  //- pointInterval: 1,
                  //- pointStart: 0,
                  xAxis: 0,
                  color:"#d2d2d2",
                  data: !{ JSON.stringify(actions) }
                },{
                  //- pointInterval: 1,
                  //- pointStart: 0,
                  type:"spline",
                  xAxis: 1,
                  yAxis: 1,
                  color:"#8292b6",
                  data: !{ JSON.stringify(actions) }
                }]
              });


          if jobs
            table.table.table-condensed
              
              br
              for job in jobs
                tr
                  td
                    b
                      a(href="/job/work?job=#{job.id}",style="color:#2d2d2d;")=job.name
                    //- p=job.desc
                  td
                    b=job.taskCount
                    o  tasks 
                    //- td
                      b=job.progress
                    .progress(style="height:3px;background-color:#d3d3d3;width:68px;")
                      .progress-bar(role='progressbar', aria-valuenow='60', aria-valuemin='0', aria-valuemax='100', style='width:60%;')
                      .progress-completed
                  //- this is just for mads ocd purposes to make sure all templates are made
                  td
                    a.btn.btn-default.btn-sm Work




