//- this is techincally the page that shows all the users' unfinished jobs...


extends ../layout
block body
  include navbar
  .container-fluid(style="background-color:#f7f7f8;")
    .container
      .row.well-sm
      
        .col-md-3
          br
          br
          .nav-sidebar.panel
            ul.nav.nav-stacked.actions
              li.active
                a(href='/u') 
                  p Unfinished Jobs
              li
                a(href='#') 
                  p Browse Available Jobs
              li
                a(href='#')
                  p Previously Completed Jobs
              hr
              li
                a(href='#') 
                  p View Progress of Uploaded Jobs
              li
                a(href='#') 
                  p View Completed Uploaded Jobs


        .col-md-9
          br
          ul.nav.nav-justified.text-center
            li.navbar-text
              br
              small Balance   
              b.text-primary.lead=user.btc
            li.navbar-text
              br
              small Jobs  
              o.text-primary.lead=jobs.length
            li.navbar-text
              br
              small Level 
              o.text-primary.lead=user.expert_level||"0"
          hr

          if jobs
            for job in jobs
              .panel
                .well-sm
                  h4
                    a(href="/job/work?job=#{job.id}").btn-link=job.name
                  p=job.desc

