//- this is techincally the page that shows all the users' unfinished jobs...


extends ../layout
block body
  include ../navbar
  .container-fluid(style="background-color:#f7f7f8;")
    .container
      .row.well-sm
        br
        .col-md-3

          include sidebar

        .col-md-9
          ul.nav.nav-justified.text-center
            li.navbar-text
              br
              small Balance   
              b.text-primary.lead=user.btc
            li.navbar-text
              br
              small Jobs  
              o.text-primary.lead=jobs.length
            li.navbar-text
              br
              small Level 
              o.text-primary.lead=user.expert_level||"0"
          hr

          if jobs
            for job in jobs
              if job.progress != 0
                .panel
                  .well-sm
                    .row
                      .col-md-6
                        h4
                          a(href="/job/work?job=#{job.id}").btn-link=job.name
                      .col-md-2
                        b=job.taskCount+" tasks"+job.progress
                      .col-md-4
                        .progress
                          .progress-bar(role='progressbar', aria-valuenow='60', aria-valuemin='0', aria-valuemax='100', style='width:60%;')
                          .progress-completed 60%
                    .row
                      .col-md-9
                        p=job.desc
                      //- this is just for mads ocd purposes to make sure all templates are made
                      .col-md-3
                        p=job.type
              else
                p no active jobs
