extends ../layout
block body
  include ../navbar
  .container
      br
      br
      .col-md-12
         .panel.panel-default
            .panel-body
               .col-md-12
                  h1
                     o User:  
                     b= user.username
                  hr
               .col-md-6
                  table.table.table-striped.well

                     tr
                        td Password
                        td 
                           button.button.button-small Change Password
                     tr
                        td Email
                        td=user.email
                     tr
                        td Points
                        td= user.points
                     tr
                        td balance
                        td= user.balance
                     tr
                        td Expert Level
                        td=user.expert_level
      //- .col-md-10.col-md-offset-2(style="vertical-align:middle;")
      //-    br
      //-    br
      //-    .row.well-md   
      //-       .col-md-4.text-right.text-primary
      //-          p USERNAME
      //-       .col-md-6
      //-          b.text-info.lead= user.username
      //-    .row.well-md
      //-       .col-md-4.text-right.text-primary
      //-          p POINTS
      //-       .col-md-6
      //-          b.text-info.lead= user.points
      //-    .row.well-md
      //-       .col-md-4.text-right.text-primary
      //-          p BTC
      //-       .col-md-6
      //-          b.text-info.lead= user.btc
      //-    .row.well-md
      //-       .col-md-4.text-right.text-primary
      //-          p EXPERT LEVEL
      //-       .col-md-6
      //-          b.text-info.lead= user.expert_level

