extends ../layout
block body 
  include ../navbar
  .container
    .panel.panel-default
      .panel-heading
        #job
      .panel-body
        .col-md-3
          .row
            if job        
              h4=job.name
              p=job.desc
              #jobid.hide=job.id
              hr
                
          textarea#dataEvaluation.transcribingTextarea(name="dataEvaluation", width="100%")

          a.btn.btn-default.button-flat.btn-superbig.btn-block.selectButton
            b Submit
          a.btn.btn-default.button-flat.btn-superbig.btn-block.selectButton 
            b No Comment
          a.btn.btn-default.button-flat.btn-superbig.btn-block.selectButton  
            b Skip this task

        .col-sm-9
          .well.well-big
            #currentTask
              p#task
                //- p I have a website located at 
                //-   a(href='http://www.facebook.com') www.facebook.com
                //- p Please provide me with any thoughts or concerns about my web design, something, and something else.

  script.

    var skip = 0;
    var current = 0;

    function select(){


      var task_id  = $(".featureImage").first().attr('data-id')
      var job_id  = $("#jobid").text()
      var val = $('#dataEvaluation').val();

      console.log(val)
      io.socket.post("/actions/new_do", {task_id:task_id,
        job_id:job_id,
        input:val, 
        type:"evaluation"
      }, function(new_task,info){

        io.socket.get( "/task/find", { job_id:#{job.id}, limit:1, skip:skip++ }, function(tasks){
          $.map(tasks, function(task){
            featureModel.emit('created', {
              id:task.id,
              data:task
            })
          })

          $('#dataEvaluation').val("");
          $(".featureImage").first().remove(); 
          $(".featureImage").first().click(); 

        })



      })

    }

    function toCanvas(){
      $("#currentTask").html( $(this).html() ).addClass("panel-body").find("img").addClass("img-responsive")
    }

    $(document).on( "click", ".selectButton", select )
    $(document).on( "click", ".featureImage", toCanvas )

    var featureModel = new $.eventModel();

    featureModel.on('created', function(info,item) {
      var d = item.data
        console.log(d)
        $("#job").append($("<span>", {
          "data-id":d.id,
          class:"small featureImage"
        }).append($("<img>",{
          src: d.src,
          "info":d.src,
          "data-id":d.id
        })))
      $(".featureImage").first().click();
    });

    featureModel.on('updated', function(info,item) {
      $.map(item.data, function(val, attr){
        if($("#"+item.id+" #"+attr).text())
          $("#"+item.id+" #"+attr).text(val)
        else $("#"+item.id).append($("<div>",{id:attr,text:val}))
      })
    });

    function dataset_glue(model){

      io.socket.on( model, function(dataset){
        featureModel.emit(dataset.verb, dataset);
      })

      io.socket.get( "/task/find", { job_id:#{job.id} , limit:2 }, function(tasks){
        skip = tasks.length
        $.map(tasks, function(task){
          featureModel.emit('created', {
            id:task.id,
            data:task
          })
        $(".featureImage").first().click(); 
        })
      })
    }

    $(document).ready(function(){

      dataset_glue("task");

    });